/* Sidebar Container */
.sidebar-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Navbar */
.navbar h1 {
  font-size: 48px;
  margin-bottom: 5px;
}

.navbar-content {
  padding-bottom: 10px;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  gap: 30px;
  color: #fff;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  z-index: 2;

  /* height: 100%; */

  background: url("../../Assets/navbar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu-toggle {
  cursor: pointer;
  font-size: 1.5rem;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Sidebar */
.sidebar {
  width: 0;
  transition: width 0.3s ease;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.sidebar.active {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: fixed;
  z-index: 2;
  margin-top: 109px;
}

.sidebar.active img {
  padding: 20px;
  max-width: 80%;
}

.sidebar-items {
  width: 100%;
  list-style: none;
  padding: 20px 20px;
  margin: 0;
  color: rgba(13, 98, 255, 1);
}

.sidebar-items li {
  width: 100%;
  margin-bottom: 10px;
  font-size: 24px;
}

.sidebar-items li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  padding: 10px;
}

.sidebar-items li a:hover {
  background-color: rgba(13, 98, 255, 0.1);
}

.sidebar-items li a .icon {
  margin-right: 10px;
}

.sidebar-items li a .label {
  font-size: 1.2rem;
}

/* Active Link */
.sidebar-items li a.active {
  font-weight: bold;
  background-color: rgba(13, 98, 255, 1);
  color: #f5f5f5;
  border-radius: 10px;
}

/* Page Content */
.content {
  margin-top: 100px;
  padding: 40px;
  width: 100%;
}

/* Media Queries */
@media (max-width: 1200px) {
  /* Navbar */
  .navbar h1 {
    font-size: 36px;
  }

  /* Sidebar */
  .sidebar.active {
    width: 30%;
  }

  .sidebar.active img {
    padding: 10px;
    max-width: 70%;
  }

  .sidebar-items li {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  /* Navbar */
  .navbar h1 {
    font-size: 28px;
  }

  /* Sidebar */
  .sidebar.active {
    width: 40%;
  }

  .sidebar.active img {
    padding: 5px;
    max-width: 60%;
  }

  .sidebar-items li {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  /* Navbar */
  .navbar h1 {
    font-size: 24px;
  }

  /* Sidebar */
  .sidebar-container,
  .sidebar.active {
    height: 100%; /* Added height: 100% */
  }

  .sidebar.active {
    width: 50%;
  }

  .sidebar.active img {
    padding: 5px;
    max-width: 50%;
  }

  .sidebar-items li {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  /* Navbar */
  .navbar h1 {
    font-size: 20px;
  }

  /* Sidebar */
  .sidebar.active {
    width: 60%;
  }

  .sidebar.active img {
    padding: 5px;
    max-width: 40%;
  }

  .sidebar-items li {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  /* Navbar */
  .navbar h1 {
    font-size: 18px;
  }

  /* Sidebar */
  .sidebar.active {
    width: 70%;
  }

  .sidebar.active img {
    padding: 5px;
    max-width: 30%;
  }

  .sidebar-items li {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  /* Navbar */
  .navbar h1 {
    font-size: 16px;
  }

  /* Sidebar */
  .sidebar.active {
    width: 80%;
  }

  .sidebar.active img {
    padding: 5px;
    max-width: 20%;
  }

  .sidebar-items li {
    font-size: 10px;
  }
}
